
<div class="container monitor">
    <div class="row fullBody">
        <div class="centreTextContainer  alert" id="ArQueueSizeContainer">
            <span>
                <p class="bigFont" id="ArQueueSizeSize">Waiting for update</p>
                <p class="smallFont" id="ArQueueSizeTime" />
            </span>
            <p class="smallerFont">Auto Renew Queue Size</p>
        </div>
    </div>
</div>

<script src="~/js/arQueueSize.js"></script>

